
<div  class="floating-buttons">
  <button *ngIf="isFullscreen" (click)="toggleFullscreen()" >
    <svg *ngIf="isFullscreen" class="icon" viewBox="0 0 24 24">
      <path d="M7 14h2v3h3v2H7v-5zm10 0v5h-5v-2h3v-3h2zM7 5h5v2H9v3H7V5zm10 0v5h-2V7h-3V5h5z"/>
    </svg>
  </button>
  <button *ngIf="!isFullscreen " (click)="toggleFullscreen()" >
    <svg *ngIf="!isFullscreen"  xmlns="http://www.w3.org/2000/svg"
         height="24px" viewBox="0 -960 960 960"
         width="24px" fill="#e3e3e3">
      <path d="M140-140v-300h60v198.23L718.23-760H520v-60h300v300h-60v-198.23L241.77-200H440v60H140Z"/>
    </svg>
  </button>
</div>


<div *ngIf="activeComponent === 'score'" style="height: 100%;">
  <scoreboard></scoreboard>
</div>
<!--<div *ngIf="activeComponent === 'video'">
  <app-video></app-video>
</div>-->
