<div class="scoreboard" cdkDropList  (cdkDropListDropped)="dropped($event)">
  <div  class="buttons">
     <div [ngClass]="rotateScore ? 'judge' : 'judgeBottom'" class="judge" (click)="roundClick($event)"></div>

    <app-gopro-status></app-gopro-status>
    <select id="voice-select" [(ngModel)]="selectedVoice"
            (click)="onComboBoxClick($event)"
            (change)="onVoiceChange($event)" class="rotated-combobox">
      <option *ngFor="let voice of voices" [value]="voice.path">{{ voice.name }}</option>
    </select>
  </div>
  <div class="allScore" (click)="whistle()">
      <div class="team" cdkDrag>

        <div id="score1" class="score"
             [ngClass]="setLeft && !(score1 + score2 == 0) ? 'setScore' : ''"
        >{{ rotateScore ? score1 : score2 }}</div>

      </div>
      <div   class="button whistle net">
      </div>
      <div class="team" cdkDrag>

        <div id="score score2" class="score"
             [ngClass]="setLeft || (score1 + score2 == 0)? '' : 'setScore'"
        >{{ rotateScore ? score2 : score1  }}</div>

      </div>
  </div>
</div>
