<div class="scoreboard" cdkDropList  (cdkDropListDropped)="dropped($event)">
  <div (click)="resetScores()" class="buttons">
  </div>
  <div class="allScore">
      <div class="team" cdkDrag>

        <div id="score1" class="score">{{ rotateScore ? score1 : score2 }}</div>

      </div>
      <div (click)="whistle()" class="button whistle">
        <img src="whistle.png" height="35px" class="whistleImg"/>
        <img src="round.png" height="35px" class="round" (click)="roundClick($event)"/>
      </div>
      <div class="team" cdkDrag>

        <div id="score score2" class="score">{{ rotateScore ? score2 : score1  }}</div>

      </div>
  </div>
</div>
