<div class="scoreboard" cdkDropList  (cdkDropListDropped)="dropped($event)">
  <div (click)="resetScores()" class="buttons">
     <div [ngClass]="rotateScore ? 'judge' : 'judgeBottom'" class="judge" (click)="roundClick($event)"></div>
  </div>
  <div class="allScore" (click)="whistle()">
      <div class="team" cdkDrag>
1
        <div id="score1" class="score">{{ rotateScore ? score1 : score2 }}</div>

      </div>
      <div   class="button whistle net">
      </div>
      <div class="team" cdkDrag>

        <div id="score score2" class="score">{{ rotateScore ? score2 : score1  }}</div>

      </div>
  </div>
</div>
